<tr>
    <td class="num-cell"><%=h event_row_brief.sid %>:<%=h event_row_brief.cid %></td>
    <td class="timestamp"><%=h event_row_brief.timestamp %></td>
    <td class="ip-cell"><%=h event_row_brief.iphdr.ip_src_string %></td>
    <td class="ip-cell"><%=h event_row_brief.iphdr.ip_dst_string %></td>
</tr>

