<tr>
    <td class="btn"><%= link_to signature_row.sig_sid,  :action => 'detail', :id => signature_row %></td>

    <td class="num-cell"><%=h (signature_row.class_name || "-")%></td>
    <td class="num-cell"><%=h (signature_row.sig_priority || "-")%></td>
    <td class="num-cell"><%=h (signature_row.sig_user_pri || "-")%></td>
    <td><%=h truncate(signature_row.sig_name, 50) %></td>
    <td class="num-cell"><%=h signature_row.events.count %></td> 
</tr>

