<div class="detail-left">
  <h3>Viewing Signature <%=h @signature.sig_sid %>:<%=h @signature.sig_gid %></h3>
    <table>
        <tr>
            <th>Name</th>
            <td><%= ww @signature.sig_name %></td>
        </tr>
        <tr>
            <th>sid:gid</th>
            <td><%=h @signature.sig_sid %>:<%=h @signature.sig_gid %></td>
        </tr>
        <tr>
            <th>Priority</th>
            <td><%=h @signature.sig_priority || '-' %></td>
        </tr>
        <tr>
            <th>User Pri</th>
            <td><%=h @signature.sig_user_pri || '-' %></td>
        </tr>
        <tr>
            <th>Class ID</th>
            <td><%=h @signature.sig_class_id || '-' %></td>
        </tr>
        <tr>
            <th>Class</th>
            <td><%=h @signature.class_name %></td>
        </tr>
        <tr>
            <th>First</th>
            <td><%=h fmtdate @signature.first_seen %></td>
        </tr>
        <tr>
            <th>Last</th>
            <td><%=h fmtdate @signature.last_seen %></td>
        </tr>

    </table>
    <% form_remote_tag :url => { :controller => 'signatures', :action => 'delete', :id => @signature} do %>
    <%= submit_tag "Delete", :confirm => 'This will delete all associated Alerts! Continue?' %><% end %>
    </br>
</div>
<div class="detail-right">
    <%= render(:partial => "alerts_brief") %>
</div>
