<div class="detail-left">
    <h1>Viewing Signature <%=h @signature.sig_id %></h1>
    <table>
        <tr>
            <th>Name</th>
            <td><%=h @signature.sig_name %></td>
        </tr>
        <tr>
            <th>ID</th>
            <td><%=h @signature.sig_id %></td>
        </tr>
        <tr>
            <th>Priority</th>
            <td><%=h @signature.sig_priority || '-' %></td>
        </tr>
        <tr>
            <th>Class ID</th>
            <td><%=h @signature.sig_class_id || '-' %></td>
        </tr>
        <tr>
            <th>Class</th>
            <td><%=h @signature.class_name %></td>
        </tr>
        <tr>
            <th>First</th>
            <td><%=h @signature.first_seen %></td>
        </tr>
        <tr>
            <th>Last</th>
            <td><%=h @signature.last_seen %></td>
        </tr>

    </table>
    </br>
</div>
<div class="detail-right">
    <%= render(:partial => "alerts_brief") %>
</div>
