<div id="stats">
    <table>
        <th colspan=2>Totals</th>
        <tr>
            <th>Alerts</th>
            <td class="num-cell"><%=link_to event_count,
                :controller => 'alerts',
                :action => 'summary' %></td>
        </tr>
        <tr>
            <th>Signatures</th>
            <td class="num-cell"><%=link_to sig_count,
                :controller => 'signatures',
                :action => 'summary' %></td>
        </tr>
        <tr>
            <th>Source IPs</th>
            <td class="num-cell"><%=link_to src_ip_count,
                :controller => 'iphosts',
                :action => 'summary' %></td>
        </tr>
        <tr>
            <th>Dest IPs</th>
            <td class="num-cell"><%= link_to dst_ip_count,
                :controller => 'iphosts',
                :action => 'summary' %></td>
        </tr>
    </table>
    <table id="cache">
        <tr>
            <th>Host Cache</th>
            <td><% form_remote_tag :url => { :controller => 'cache', :action => 'update'} do %>
                    <%= submit_tag "Update Cache" %><% end %></td>
        </tr>
        <tr>
            <th>Updated</th>
            <td><span id="cache_update"><%= render(:partial => "shared/cache_update") %></span></td>
        </tr>
    </table>
</div>

