<h2>Event Detail for <%=h @event.id %></h2>
<table>
    <tr>
        <td>Signature</td>
        <td><%=h @event.signature.sig_name %></td>
    </tr>
    <tr>
        <td>SigID</td>
        <td><%= link_to @event.signature.sig_id, 
            :controller => "signatures", :action => "detail", :id => @event.signature.sig_id %></td>
    </tr>
    <tr>
        <td>Sensor</td>
        <td><%=h @event.sid %></td>
    </tr>
    <tr>
        <td>CID(?)</td>
        <td><%=h @event.cid %></td>
    </tr>
    <tr>
        <td>Timestamp</td>
        <td><%=h @event.timestamp %></td>
    </tr>
</table>
<%= packet_headers @event.iphdr %>

