<tr>
    <td><%= link_to sens_cid(alert_row), :controller => "alerts", :action => "detail", :id => alert_row.to_param %></td>
    <td><%= link_to sid_gid(alert_row.signature), :controller => "signatures", :action => "detail", :id =>  alert_row.sig_id %></td>
    <td class="num-cell"><%=h (alert_row.sig_class_id || "-")%></td>
    <td class="num-cell"><%=h (alert_row.sig_priority || "-")%></td>
    <td><%=h truncate(alert_row.sig_name) %></td>
    <td class="timestamp"><%=h fmtdate alert_row.timestamp %></td>
    <td><%= link_to alert_row.ip_src_string, :controller => "iphosts", :action => "detail", :id => alert_row.ip_src_string %></td>
    <td><%= alert_row.l4src || '-' %>
    <td><%= link_to alert_row.ip_dst_string, :controller => "iphosts", :action => "detail", :id => alert_row.ip_dst_string %></td>
    <td><%= alert_row.l4dst || '-' %>
</tr>
