<div class="summary-left">
    <h2>Alert Filter</h2>
    <% form_tag({:controller => 'alerts', :action => 'summary'}, :method => 'get') do %>
        <table>
            <tr>
                <th><%= label_tag(:sig_name, 'Signature Name') %></th>
                <td><%= text_field_tag(:sig_name, params[:sig_name]) %></td>
            </tr>
            <tr>
                <th><%= label_tag(:sig_name, 'Signature ID') %></th>
                <td><%= text_field_tag(:sig_id, params[:sig_id]) %></td>
            </tr>
             <tr>
                <th><%= label_tag(:sensor, 'Sensor ID') %></th>
                <td><%= text_field_tag(:sensor, params[:sensor]) %></td>
            </tr>
            <tr>
                <th><%= label_tag(:on, 'On Date') %></th>
                <td><%= text_field_tag(:on, params[:on]) %></td>
            </tr>

            <tr>
                <th><%= label_tag(:before, 'Before') %></th>
                <td><%= text_field_tag(:before, params[:before]) %></td>
            </tr>
            <tr>
                <th><%= label_tag(:after, 'After') %></th>
                <td><%= text_field_tag(:after, params[:after]) %></td>
            </tr>
            <tr>
                <th><%= label_tag(:ip_src, 'Source IP') %></th>
                <td><%= text_field_tag(:ip_src, params[:ip_src], :size => 15) %>
                    /<%= text_field_tag(:ip_src_mask, params[:ip_src_mask], :size => 2) %></td>
            </tr>
            <tr>
                <th><%= label_tag(:ip_dst, 'Dest IP') %></th>
                <td><%= text_field_tag(:ip_dst, params[:ip_dst], :size => 15) %>
                    /<%= text_field_tag(:ip_dst_mask, params[:ip_dst_mask], :size => 2) %></td>
            </tr> 
            <tr>
                <th><%= label_tag(:proto, 'IP Proto') %></th>
                <td><%= select_tag(:proto, "<option>ANY</option><option>TCP</option><option>UDP</option><option>ICMP</option>") %></td>
            </tr>
            <tr>
                <th><%= submit_tag("Filter") %></th>
            </tr>
        </table>
    <% end %>
</div>

<div class="summary-right">
    <h2>Viewing <%= @summary_pager.first_item %> to <%= @summary_pager.last_item %> of <%= @filter_count %> Alerts</h2>
    <table id="alert-table">
        <tr>
            <th>sens:cid</th>
            <th>sig</th>
            <th>cls</th>
            <th>pri</th>
            <th>sig name</th>
            <th><%= order_control 'time', :field => 'timestamp' %></th>
            <th>source</th>
            <th>dest</th>
        </tr>
        <%= render(:partial => "alert_row", :collection =>  @alerts) %>
    </table>
    <hr/>
    <div id="pager-ctl"><%= pager_control @summary_pager %></div>
</div>
