<h1>Viewing Signature <%=h @sig.sig_id %></h1>

<table id="sig-table">
    <tr>
        <td>Name</td>
        <td><%=h @sig.sig_name %></td>
    </tr>
    <tr>
        <td>ID</td>
        <td><%=h @sig.sig_id %></td>
    </tr>
    <tr>
        <td>Priority</td>
        <td><%=h @sig.sig_priority %></td>
    </tr>
    <tr>
        <td>Class ID</td>
        <td><%=h @sig.sig_class_id || '-'%></td>
    </tr>
    <tr>
        <td>Class</td>
        <td><%=h @sig.class_name %></td>
    </tr>
</table>
</br>
<%= render(:partial => "alerts") %>
