<html>
<head>
    <title>Snorkel: Snort NIDS Console</title>
    <%= stylesheet_link_tag 'snorkel', :media => 'all' %>
    <%= javascript_include_tag :defaults %>
</head>
<body>
<div id="columns">

    <%= render :partial => 'shared/topbar' %>
    <!--     <%= render :partial => 'shared/side_nav' %>  -->
    <div id="main">
        <%= yield :layout %> 
    </div>
</div>
</body>
</html>

